/* Colors */

/* Theme Colors */
:root {
  --white: #fefffc;
  --gray: #edeef0;

  --day: #7cbbe7;
  --night: #1f234c;

  --primary: #3b3b98;
  --secondary: #05bdfe;

  --accent: #2fc4b9;

  --success: #48bc06;
  --warning: #fd025b;
}
