#navMenu {
  display: inline-block;
  cursor: pointer;

  span {
    display: block;
    background-color: var(--white);
    height: 4px;
    width:35px;
    transition: all .5s ease-in-out;
    border-radius: 5px;

    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
      }
  
      &:nth-child(2) {
        transform: translateY(-5px) rotate(-45deg);
      }
      
      &:nth-child(3) {
        height: 0;
        width: 0;
      }
    }
  }
}