/*
  REQUIREMENTS:
  - Cascade Layers for organization
  - CSS grid and flexbox for layout
  - Implement CSS custom properties (variables) and CSS grid template areas
  - clamp(), min(), and calc() functions
  - Implement Container Queries to display UI
  - Cross browser compatibility, feature queries to handle unsupported CSS features gracefully

  - resets, defaults, themes, frameworks, design systems, components, utilities, and overrides
*/

/* Body */
body {
  // background: var(--secondary);
  background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
  color: var(--primary);
  font-family: $font-family;
  font-weight: $regular;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  font-weight: $bold;
  margin: 0;
}

h2 {
  font-size: clamp(2rem, 5vw, 3rem);

  span {
    display: block;
    font-size: 1rem;
    margin: 1rem 0;
    color: var(--primary);
  }
}

h3 {
  font-size: clamp(1rem, 4vw, 1.5rem);
}

h4 {
  font-size: clamp(.8rem, 3vw, 1rem);
}


ul {
  @include list-reset;
}

button {
  cursor: pointer;
  background: var(--white);
  border: 1px solid var(--accent);
  border-radius: 8px;
  padding: .5rem;
  color: var(--accent);
  transition: all .5s ease-in-out;

  &:hover {
    background: var(--accent);
    color: var(--white);
  }  
}

/* Weather Container */
.app-container {
  container-name: app-container;
  container-type: inline-size;
  // background: var(--white);
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;
  width: clamp(300px, 90%, breakpoint('desktop'));
  margin: clamp(0px, 3rem, 3rem) auto;
  border-radius: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: breakpoint('tablet')) {
    grid-template-columns: 1fr;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
  }

  &__top {
    padding: 3rem 0 0 0;
    grid-column: 1;
    grid-row: 1; 
  }

  &__bottom {
    position: relative;
    padding: 0;
    border-radius: 1rem;
    grid-column: 2;
    grid-row: 1;

    @media screen and (max-width: breakpoint('tablet')) {
      padding: 0 0 clamp(2rem, 4vw, 3rem) 0;
      grid-column: 1;
      grid-row: 2;
    }
  }

  &__weather {
    @include flex-column;

    &var--icon {
      @include flex-column;
      height: 200px;

      img {
        width: clamp(50px, 10vw, 100px);
        margin: 0 auto;
      }
    }
  }

  &__form {
    @include flex-row;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    input {
      font-size: 1.3rem;
      height: 40px;
      padding: 0 1rem;
      color: var(--primary);
      border: none;
      background: var(--gray);
      border-radius: 2rem 0 0 2rem;
      width: clamp(100%, 100%, 400px);
      transition: all .3s ease;

      &:focus + label,
      &:not(:focus):not(:placeholder-shown) + label {
        color: var(--secondary);
        font-size: .8rem;
        top: -20px;
        border-radius: 2rem;
      }

      &:focus + label {
        color: var(--primary);
      }

      &:focus {
        border: none;
        outline: none;
      }

      &:focus::placeholder {
        color: #edeef0;
      }
    }

    label {
      position: absolute;
      cursor: text;
      z-index: 2;
      top: 9px;
      left: 10px;
      font-size: 0;
      font-weight: $regular;
      background: transparent;
      padding: 0 7px;
      color: transparent;
      transition: all .3s ease;
    }
  }

  &__button-search {
    background: var(--gray);
    border: none;
    border-radius: 0 2rem 2rem 0;
    color: var(--primary);
    padding: .5rem;
  }

  &__icon {
    margin-top: -4rem;
    background: var(--day);
    background: radial-gradient(at center, rgba(251, 231, 130, .8) 30%, rgba(255, 255, 255, 0) 50%);

    &.day {
      background: var(--day);
      background: radial-gradient(at center, rgba(251, 231, 130, .8) 30%, rgba(255, 255, 255, 0) 50%);
    }
    
    &.night {
      background: var(--night);
      background: radial-gradient(at center, rgba(60, 59, 54, .8) 30%, rgba(255, 255, 255, 0) 50%);  
    }

    img {
      width: clamp(150px, 100%, breakpoint('l-mobile'));
      height: auto;
      clip-path: circle(40%);   
    }
  }

  &__location {
    @include flex-column;
    font-size: 2rem;
    padding: clamp(1rem, 3rem, 3rem) 0 clamp(0.5rem, 1vw, 1rem);

    @media screen and (max-width: breakpoint('mobile')) {
      padding-top: 0;
    }
  }

  &__favorite-button,
  &__button-save {
    position: absolute;
    right: 2rem;
    margin: -2rem 0 0 .5rem;
    height: 28px;
    width: 28px;
    display: inline-block;
    line-height: .9;
    font-size: 2rem;
    margin-top: -5rem;

    button {
      @include flex-column;
      aspect-ratio: 1;
      padding: 0;

      span {
        margin-left: 2px;
        padding: 3px;
      }
    }
  }

  &__date {
    @include flex-column;
    display: none;
  }

  &__current-weather {
    @include flex-row;
    padding: 0;
    gap: 0;

    &-details {
      border-right: 1px solid var(--primary);
      padding: 0;
      margin: 1rem 0;
      font-size: 1.5rem;
      width: clamp(140px, 30%, 200px);
      line-height: 1.5;

      &:last-of-type {
        border-right: none;
      }

      h5 {
        font-size: clamp(2rem, 5vw, 3rem)
      }
    }
  }

  &__forecast {
    @include flex-row;
    padding: clamp(1rem, 2vw, 2rem) clamp(1rem, 2vw, 2rem);
    font-size: 0.9rem;
    text-transform: uppercase;

    &:hover> :not(:hover) {
      opacity: 0.2;
    }
  }

  &__day {
    @include flex-column;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    margin: .25rem;
    padding: .5rem .1rem;
    transition: all .75s ease-in-out;
    width: 20%;

    &:hover {
      background: rgba(255, 255, 255, 0.35);
      border: 1px solid rgba(255, 255, 255, 0.5);
      width: 50%;

      h4 {
        font-size: clamp(1rem, 2vw, 2rem);
      }
  
      h5 {
        font-size: clamp(2rem, 9vw, 2rem);
      }
    }

    h4 {
      font-size: clamp(.75rem, 3vw, .75rem);
    }

    h5 {
      font-size: clamp(1rem, 2vw, 2rem);
    }

    img {
      width: clamp(40px, 50%, 100px);
      height: auto;
      margin: 0 auto;
    }

    &-name {
      font-size: 0.7rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    
    &-temp {
      font-size: 1rem;
    }
  }

  &__location-list {
    position: absolute;
    width: clamp(100vw, 50vw, 50vw);
    transition: all .5s ease-in-out;
    top: 0;
    left: 0;

    #viewLocations {
      position: absolute;
      z-index: 200;
      top: 2rem;
      right: 2rem;
      transition: all .5s ease-in-out;
    }

    &.hide {      
      z-index: 0;

      #viewLocations::after {
        content: "View Saved Locations";
      }

      .app-container__saved-cities {
        height: 100vh;
        opacity: 0;
        margin-left: -50vw;
        width: 0;
      }
    }
    
    &.show {
      z-index: 100;

      #viewLocations::after {
        content: "Close";
      }

      .app-container__saved-cities {
        height: 100vh;
        opacity: 1;
        margin-left: 0;
      }
    } 

     button {
      span {
        display: inline-block;
        vertical-align: middle;
      }
     }
  }

  &__saved-cities {
    background: rgba(255, 255, 255, 0.95);
    text-align: left;
    transition: all .3s ease-in-out;
    width: 70vw;
    box-shadow: 1px 1px 30px rgb(0, 0, 0, 1);

    ul {
      transition: all .3s ease-in-out;
      z-index: 1;
      height: 100vh;
      padding: 2rem 10vw 2rem;
      overflow: auto;
      margin: 0;
      z-index: 99;

      li {
        display: flex;
        justify-content: space-between;
        align-content: start;
        margin: .25rem 0;
        gap: 1rem;

        @media screen and (max-width: breakpoint('tablet')) {
          flex-direction: column;
          gap: .5rem;
          margin: 1.5rem 0;
        }

        &:not(:last-of-type) {
          margin-bottom: .6rem;
        }
      }
    }

    .saved-city {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid var(--primary);
      background-color: var(--primary);
      color: var(--white);
      text-align: left;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      padding: 1rem;
    }

    .delete-city {
    }
  }
}
